body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Ảnh bìa */
.AnhTrang {
    width: 1497px;
}

/* Phần NAV */
nav {
    background-color: rgb(34, 93, 189);
    padding: 1px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 30px;
    position: relative;
}

nav ul li a {
    color: white;
    font-size: 25px;
    display: block;
    text-decoration: none;
}

nav ul li a:hover {
    background:white;
    color: black;
    border-radius: 5px;
}

nav ul li :hover > a {
    color: red;
}

nav ul li:active >a {
    color: orange;
}

nav ul li   :visited {
    color: white;
}

.dropdown {
    position: absolute;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    min-width: 360px;
    top: 100%;
    left: 0;
    display: none;
    z-index: 100;
    text-align: left;
    
}

.dropdown li a {
  color: black !important;

}

.dropdown li a:hover {
  color: red !important;
}

.dropdown li a:active {
  color: orange !important;
}

nav ul li:hover .dropdown {
    display: block;
}

/* Cha của Article và Aside */
.container {
    display: flex;
    gap: 20px;
}

/* Phần Article bên trái */
article {
    width: 60%;
    padding: 15px;
    flex: 2;
}

article h1 {
    background: gainsboro;
    font-size: 20px;
    width: 100%;
    color: red;
    margin-top: 0px;
    text-align: center;
    padding-bottom: 5px;
}

article h2 {
    background:gainsboro;
    font-size: 20px;
    width: 100%;
    color: red;
    margin-top: 0px;
    text-align: center;
    padding-bottom: 5px;
}

article h3 {
    background:rgb(34, 93, 189);
    font-size: 20px;
    width: 100%;
    color: white;
    margin-top: 0px;
    text-align: center;
    padding-bottom: 5px;
}

.trangchu {
    display: flex;
    margin: 10px;
  }
  
  .trangchu img {
    max-width: 390px;
    height: auto;
  }
  
  .trangchu1 {
    display: flex;
    margin: 10px;
  }
  
  .trangchu1 img {
    max-width: 390px;
    height: auto;
    border: 1px gainsboro solid;
  }

  .noidung {
    margin-left: 10px;
    max-width: 600px;
  }
  
  .noidung a {
    font-size: 20px;
    color: blue;
    text-decoration: none;
    font-weight: bold;
  }
  
  .noidung p {
    margin-top: 8px;
    font-size: 20px;
    line-height: 1.5;
  }

  .new {
    border: 2px gainsboro solid;
    margin-top: 5px;
  }
 /* Phần Bảng */
  .table {
    width: 100%;
    border-collapse:separate; 
  
  }
  .table tr {
    border-bottom: 1px solid white;
    background: rgb(234, 234, 234);
  }
  .table td {
    padding: 10px;
  }
  .sub-group {
    padding-left: 30px;
    color: teal;
    line-height: 2;
  }
  a {
    text-decoration: none;
    color: teal;
  }

  /* Phần Aside bên phải */
  aside {
    width: 40%;
    float: right;
    flex: 1;
    padding: 15px;
  }

  /* Thông báo */
  .sidebar {
    border: 1px red solid;
    margin-top: 5px;
  }

  .sidebar h3 {
    background:red;
    font-size: 20px;
    width: 100%;
    color: white;
    margin-top: 0px;
    text-align: center;
    padding-bottom: 5px;
  }

.notification {
    margin-left: 10px;
    line-height: 2;
    color: red;
}

.notification-1 {
    margin-left: 10px;
    color: rgb(198, 191, 191);
    line-height: 2;
}

hr {
    width: 400px;
    text-align: center;
    color: gainsboro;
}


/* Văn Bản */
.sidebar-1 {
    border: 1px rgb(34, 93, 189) solid;
    margin-top: 18px;
  }

  .sidebar-1 h2 {
    background:rgb(34, 93, 189);
    font-size: 20px;
    width: 100%;
    color: white;
    margin-top: 0px;
    text-align: center;
    padding-bottom: 5px;
  }

  .notification-2 {
    margin-left: 10px;
    line-height: 2;
    color: rgb(34, 93, 189);
}

.notification-3 {
    margin-left: 10px;
    color: black;
}

/*Tin tức từ sở GD&DT*/
.sidebar-2 {
    border: 1px rgb(34, 93, 189) solid;
    margin-top: 18px;
  }

  .sidebar-2 h1 {
    background:rgb(34, 93, 189);
    font-size: 20px;
    width: 100%;
    color: white;
    margin-top: 0px;
    text-align: center;
    padding-bottom: 5px;
  }

  .notification-4 {
    margin-left: 10px; 
    color: rgb(34, 93, 189);
    line-height: 1.4;
}

.notification-5 {
    margin-left: 10px;
    color: red;
    line-height: 3.4;
}

/*footer phần cuối trang */
footer {
    width: 100%;
    background: rgb(34, 93, 189);
    padding: 25px;
    display: flex;

}

.footer {
    color: white;
    margin-left: 102px;
}

.footer-1 {
    color: white;
    margin-left: 340px;
}
